																					/* MAIN-HEADER */

.main-header {
	background-color: #ffffff;
}

.main-navigation-items {
	display: flex;
	flex-direction: row;
  list-style: none;
  min-height: 56px;
  margin: 0;
  padding: 0;
}

.main-navigation-item {
	display: flex;
	flex-direction: row;
	flex-basis: 245px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
	margin: 0;
	padding: 0;
}



.main-navigation-link {
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}

.main-navigation-link:not(.active-link):hover {
	color: #81b3d2;
}

.main-navigation-link:not(.main-logo):active {
	opacity: 0.3;
}

.logo-item {
	position: relative;
	align-self: flex-start;
}

.main-logo {
	position: absolute;
	top: 0;
}

.header-photo {
	display: block;
	margin-bottom: 50px;
}

																						/* MAIN */

main:not(.sedona-hotels) {
	display: grid;
	grid-template-columns: repeat(3, 400px);
	grid-template-rows: repeat(5, auto)/* 200px 255px 335px 258px 258px */;
}

.main-content {
	display: flex;
	grid-column: 1/-1;
}

.main-information {
	width: 580px;
	margin: 0 auto 45px auto;
	text-align: center;	
	line-height: 26px;
}

.main-information-title {
	font-size: 21px;
}

																						/* FORM-FILTER-HOTELS */
.form-filter-hotels {
	color: #ffffff;
	background-color: #7c9ec1;
	background-image: url("../img/form-background.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.form-items,
.service-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.form-items {
	display: grid;
	grid-template-columns: 241px 288px 528px;
	min-height: 220px;
	padding-right: 73px;
	padding-left: 73px;
}

.form-item,
.service-item {
	margin: 0;
	padding: 0;
}

.service-item {
	position: relative;
	margin-bottom: 22px;
}

.service-item:last-child,
.consumption-item:last-child {
	margin-bottom: 0;
}

.service-item-label {
	position: relative;
	padding-left: 40px;
}

.service-item-label::before {
	content: "";
	position: absolute;
	top: -4px;
	left: -1px;
	width: 19px;
	height: 19px;
	border: 3px solid #ffffff;
	border-radius: 2px;
}

.icon-checkbox-on {
	display: none;
}

.service-item-checkbox:checked ~ .icon-checkbox-on {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.service-item-checkbox:checked ~ .icon-checkbox-off {
	display: none;
}

.service-item-checkbox:disabled ~ .icon-checkbox-off,
.service-item-checkbox:disabled ~ .icon-checkbox-on,
.service-item-checkbox:disabled ~ .service-item-label {
	opacity: 0.4;
}

.price-item {
	min-width: 330px;
	padding-left: 10px;
	justify-self: end;
}

.form-item-title {
	color: #ffffff;
}

.consumption-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.consumption-item {
	margin: 0;
	margin-bottom: 11px;
	padding: 0;
}

.consumption-input-items {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.consumption-input-item {
	height: 34px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
}

.separatory-line {
	position: absolute;
	top: 20%;
	left: 50%;
	right: 50%;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
}

.input-first-price {
	border-right: none;
}

.input-second-price {
	border-left: none;
}

.consumption-slide {
	box-sizing: border-box;
	position: relative;
	margin-bottom: 32px;
	padding-left: 12px;
}

.consumption-scale {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #ffffff;
	opacity: 0.3;
}

.consumption-scale-filled {
	position: absolute;
	top: 0px;
	width: 75%;
	height: 2px;
	background-color: #ffffff;
}

.consumption-range {
	position: absolute;
	width: 4px;
	height: 4px;
	background-color: #b4b4b4;
	border: 10px solid #ffffff;
	border-radius: 50%;
	transform: translate(0%, -50%);
}

.consumption-first-range {
	top: 0;
	left: 0;
	z-index: 100;
}

.consumption-second-range {
	top: 0;
	left: 75%;
	z-index: 100;
}

.form-button {
	display: block;
	width: 133px;
	height: 33px;
	margin: 0 auto;
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
	cursor: pointer;
}

.form-button:hover {
	color: #000000;
	background-color: #ffffff;
}


.result-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 90px;
	padding-right: 73px;
	padding-left: 73px;
}

.result-title {
	margin: 0;
	margin-right: 50px;
}

.result-sorting-title {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	margin-right: 40px;
}

.result-sorting-items {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	min-width: 240px;
	max-width: 740px;
	margin: 0;
	padding: 0;
}

.result-sorting-item {
	margin: 0;
	margin-right: 30px;
	padding: 0;
}

.result-sorting-item:last-child {
	margin-right: 0;
}

.result-sorting-link {
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	border-bottom: 2px dotted #000000;
	opacity: 0.4;
}

.result-sorting-link:hover {
	color: #81b3d2;
	border-bottom: 2px dotted #81b3d2;
	opacity: 1;
}

.result-sorting-link:active {
	color: #000000;
	border: none;
}

.result-items,
.residence-data-items,
.residence-button-items,
.rating-star-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.result-items {
	margin-bottom: 35px;
	padding-right: 73px;
	padding-left: 73px;
}

.result-item {
	display: grid;
	grid-template-columns: repeat(2, 528px);
	border-top: 1px solid #f6f6f6;
	border-bottom: 1px solid #f6f6f6;
}

.residence-information {
	display: flex;
	flex-direction: row;
	padding-top: 25px;
	padding-bottom: 25px;
}

.residence-content {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 259px;
}

.img-residence {
	margin-right: 30px;
}


.name-residence {
	margin: 0;
}

.residence-data-items {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.residence-data-item {
	box-sizing: border-box;
	margin-right: 7px;
}

.residence-data-item:last-child {
	margin-right: 0;
}

.residence-items-button {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: row;
	flex-wrap: wrap;
}

.residence-item-button {
	margin-right: 7px;
}

.residence-item-button:last-child {
	margin-right: 0;
}

.button-more-information,
.button-booking {
	display: block;
	padding-right: 15px;
	padding-left: 15px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}

.button-more-information {
	background-color: #81b3d2;
}

.button-more-information:hover {
	background-color: #669ec0;
}

.button-more-information:active {
	background-color: #5496bd;
}

.button-more-information:active .button-active-link,
.button-booking:active .button-active-link {
	opacity: 0.3;
}

.button-booking {
	background-color: #766357;
}

.button-booking:hover {
	background-color: #604e43;
}

.button-booking:active {
	background-color: #503e33;
}

.location-data {
	min-width: 112px;
}

.residence-rating {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 25px;
	padding-bottom: 25px;
}

.rating-star-items {
	display: flex;
}

.rating-star-item {
	margin-right: 5px;
}

.rating-star-item:last-child {
	margin-right: 0;
}

.rating-mark {
	background-color: #f2f2f2;
}

.rating-mark-title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 110px;
	min-height: 27px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
}

										/* DESCRIPTION-BLOCK */

.description-block {
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 247px;
	padding: 35px 55px 55px 55px;
	text-align: center;
}

.description-block-blue {
	color: #ffffff;
	background-color: #81b3d2;
}

.description-title-white {
	color: #ffffff;
}

.description-photo {
	box-sizing: border-box;
	display: block;
	width: 100%;
	min-height: 247px;
	background-repeat: no-repeat;
}

.description-photo-cafe {
	grid-column: 2/-1;
}

.description-feature {
	min-height: 338px;
	padding-top: 150px;
}

.description-feature::before {
	content: "";
	position: absolute;
	top: 20%;
	left: 50%;
	background: url("../img/sprites-description.png") no-repeat;
	transform: translateX(-50%);
}

.description-feature-first::before {
	width: 75px;
	height: 72px;
	background-position: -112px -11px;
}

.description-feature-second::before {
	width: 74px;
	height: 70px;
	background-position: -13px -9px;
}

.description-feature-third::before {
	width: 64px;
	height: 76px;
	background-position: -17px -105px;
}

.description-photo-bridge {
	grid-column: 1/3;
}

.description-block-grey {
	background-color: #eeeeee;
}

																						/* MAIN-FOOTER */

.main-footer {
	display: grid;
	grid-template-columns: repeat(3, 400px);
}

										/* LOCATION */

.location {
	grid-column: 1/-1;
	padding-top: 33px;
}

.location-information {
	width: 450px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.location-information-title {
	font-size: 30px;
	line-height: 36px;
}

.location-information-button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 85px;
	margin-top: 50px;
	font-size: 21px;
	line-height: auto;
	text-decoration: none;
	color: #ffffff;
	background-color: #766357;
}

.location-information-button:hover {
	background-color: #604e43;
}

.location-information-button:active {
	background-color: #503e33;
}

										/* FOOTER-CONTENT, SOCIAL */

.footer-content,
.social-buttons,
.about-designer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-content {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.social-button {
	position: relative;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	background-color: #81b3d2;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:last-of-type {
	margin-right: 0;
}

.social-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.about-designer-paragraph {
	margin-right: 8px;
	font-weight: bold;
}

										/* SEARCH-FORM */
.search-form {
	position: fixed;
	top: 25%;
	right: 25%;
	left: 25%;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	width: 466px;
	height: 258px;
	margin: 0 auto;
	padding: 55px;
	background-color: #ffffff;
}

.search-form-off {
	position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); 
  margin: -1px;
}

.search-form-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.search-form-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
}

.search-form-label {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-basis: 115px;
	font-weight: bold;
}

.search-form-input {
	box-sizing: border-box;
	flex-basis: 350px;
	height: 38px;
	padding: 10px 30px 10px 10px;
	font-weight: bold;
	color: #000000;
	background-color: #f2f2f2;
	border: none;
}

.amount-people-items {
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.amount-people-item {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.amount-people-label {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 40px;
	font-weight: bold;
}

.amount-people-input {
	width: 33px;
	height: 37px;
	padding-right: 2px;
	padding-left: 2px;
	font-weight: bold;
	text-align: center;
	background-color: #f2f2f2;
	border: none;
}

.people-input-items {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
}

.people-input-item {
	list-style: none;
	margin: 0;
	padding: 0;
}

.plus,
.minus {
	box-sizing: border-box;
	width: 37px;
	height: 39px;
	font-size: 21px;
	line-height: 38px;
	text-align: center;
	color: #a9a9a9;
	background-color: #f2f2f2;
	border: none;
}

.plus:hover,
.minus:hover {
	color: #000000;
	background-color: #ebebeb;
}

.plus:active,
.minus:active {
	color: #abcce1;
}

.amount-people-input:hover,
.search-form-input:hover {
	background-color: #ebebeb;
}

.amount-people-input:focus,
.search-form-input:focus {
	background-color: #ffffff;
	outline: 2px solid #eeeeee;
}

.search-form-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 58px;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
}

.search-form-button:hover {
	background-color: #669ec0;
}

.search-form-button:active {
	background-color: #5496bd;
}

.close-form-button {
	position: fixed;
	top: 25%;
	right: 25%;
	left: 75%;
	z-index: 9999;
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
}

.close-button-off {
	position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); 
  margin: -1px;
}

.close-form-button::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 2px;
	background-color: #f2f2f2;
	transform: rotate(-45deg);
}

.close-form-button::after {
	content: "";
	position: absolute;	
	top: 50%;
	left: 0;
	width: 25px;
	height: 2px;
	background-color: #f2f2f2;
	transform: rotate(45deg);
}

.close-form-button:hover::before,
.close-form-button:hover::after {
	background-color: #ffffff;
}

.close-form-button:active::before,
.close-form-button:active::after {
	background-color: #eeeeee;
}

																						/* DEFAULT SETTINGS */

html,
body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
}

html {
	display: flex;
	min-width: 1280px;
	background-color: #f2f2f2;
}

.overlay::before {
	content: "";
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9998;
	background-color: #3f3e3f;
	opacity: 0.5;
}

.overlay-off::before {
	content: "";
	position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); 
  margin: -1px;
}

body {
	min-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	color: #333333;
	background-color: #ffffff;
	box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000000;
}

.active-link {
	opacity: 0.3;
}

.visibility-hidden {
	display: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); 
  margin: -1px;
}